@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap');

*{
    font-family: 'Lato', sans-serif;
}
body{
    background-color: #808e9b;
}


main{
    width:90%;
    margin: auto;
    margin-top: 2.5%;
    border-radius: 0.76rem;
}
main h1{
    margin:0%;
    color: #d2dae2;
    font-size:22px;
    margin-left: 7%;
}

body main div{
    position: relative;
    width: 86%;
    margin: 0 auto;
    height: 33vh;
    margin-top: 3%;
    background-color: #485460;
    border-radius: 1rem;
    cursor: pointer;
  }
  body main div:hover{
    
    transition: all .2s ease-in-out;
    width: 93%;
    height: 44vh;
    
  }
  body main div img{
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    opacity: 0.3;
  }
  
  .centered {
    text-decoration: none;
    position: absolute;
    margin-top: 20%;
    z-index: 999;
    margin: 0 auto;
    left: 0;
    right: 0;        
    text-align: center;
    top: 45%; 
    color: #d2dae2;
    width: 60%;
    font-size: 14px; 
  }
  body main div:hover img{
    box-shadow: 0 0 12px rgba(255,255,255,1) inset;
    border: 1px solid rgba(255,255,255,1);
    color: rgba(255,255,255,1);
    opacity: 0.6;
    transition: all .35s ease-in-out;
  }
  body main div:hover .centered{
    font-size: 25px;
    font-weight: bolder;
    transition: all .35s ease-in-out;
  
  }
  @media screen and (min-width:992px){

  }